<% provide(title: 'Feedback') %>

<div class="row" style="font-family: 'Special Elite', cursive;">
  <div class="box">
    <div class="col-lg-12">
      <h1 class="intro-text text-center" style="font-size: xx-large;">
        All feedback is encouraged and welcome.  Thank you!
      </h1>
      <hr>
      <%= form_for(@feedback) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 text-danger" style="margin-top: 25px;">
              Not well at all
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
              <div class="form-group">
                <%= f.label :meet_needs_answer, Feedback.questions[:one] %><br>
                <div id="rating_buttons">
                  <%= f.collection_radio_buttons :meet_needs_answer, (1..5).map{|n| [n, n]}, :first, :last, class: 'form-control' do |b| %>
                      <% content_tag(:div, b.label { b.radio_button }) %>
                  <% end %>
                </div>
                <div id="rating_labels">
                  <div><strong>1</strong></div>
                  <div><strong>2</strong></div>
                  <div><strong>3</strong></div>
                  <div><strong>4</strong></div>
                  <div><strong>5 </strong></div>
                </div>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 text-success" style="margin-top: 30px;">
              Very well
            </div>
          </div>


          <div class="form-group">
            <%= f.label :suggestions, Feedback.questions[:two] %><br>
            <%= f.text_area :suggestions, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :challenges, Feedback.questions[:three] %><br>
            <%= f.text_area :challenges, class: 'form-control' %>
          </div>
          <div class="actions">
            <%= f.button fa_icon('paper-plane-o', text: 'Send feedback'),
                         class: 'btn btn-lg btn-primary btn-block',
                         data: { disable_with: "#{fa_icon 'spinner pulse'} Sending..."}%>
          </div>
      <% end %>

    </div>
  </div>
</div>

